.card-project{

    width: 280px;
    height: 280px;
    background-color: #595358;
    align-items: center;
    display: flex;
    justify-content:center;
    box-shadow: 8px 8px 10px #fff;
    margin-top: 120px;
}
 

.card-project.-blue{

    background-color:#7c5e99af;
}


.card-project.-gray{

    background-color:#335150;
    ;
}


.card-project .logo{

width: 230px;
height: 250px;

}