.main-action{

    display: inline-flex;
    align-items: center;
    color: #EEEEEE;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
    padding-top: 30px;
}

.main-action::before {
    content:'';
    background-color:#F25A70;
    width: 10px;
    height: 10px;
    margin-right: 10px;

}