.skill-dark{

    display: flex;
    font-family: "Fira Code", Arial, Helvetica, sans-serif;
    font-size: 25px;
    color:#eee;
    align-items: center;

    
}

.skill-dark .icon{

    margin-right: 25px;
    width: 80px;
    height: 90px;
    
}

.skill-dark .right{

    display: flex;
    flex-direction: column ;
    justify-content: space-around;
}

.skill-dark .title{

    margin-bottom: 11px;
}