.box {

    width: 640px; 
    box-shadow: 10px 10px 10px 0 #000;
    background-color: #3a40425a;
    text-align: center;
    padding: 42px 44px;
    display: inline-block;
    
    
}

.box .title{

    margin-bottom: 28px;
}

