.section{
 
 background-color: #335150;
 padding-top: 50px;
 padding-bottom: 100px;
 border-bottom: solid 6px #808e9b;
 height: 589px;

}

.section .main-title{

    margin-bottom:80px;
}

.section.-bgBlack{

    height: 588px;
    background-color:#000;
}

.section.-bdFirst{

    border-color: #105393;
}