h1{
    font-size: 50px;
    font-family:Cinzel;
    color: #eeee;
    text-shadow:10px 10px 8px #000}
h2{

    font-size: 50px;
    font-family:Cinzel;
    color: #95afc0;
    text-shadow:10px 10px 8px #000}
